@model List<LetMePutSomeAsyncInIt.Core.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>All Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Link</th>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <a asp-controller="User" asp-action="GetByID" asp-route-id="@user.ID">View</a>
                </td>
                <td>@user.ID</td>
                <td>@user.Name</td>
                <td>@user.Phone</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>

