@model LetMePutSomeAsyncInIt.Web.Models.User

@{
    ViewBag.Title = "GetByID";
}

<h2>User #@Model.ID</h2>

<div>
    <dl>
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Username</dt>
        <dd>@Model.Username</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>Phone</dt>
        <dd>@Model.Phone</dd>
        <dt>Website</dt>
        <dd>@Model.Website</dd>
        <dt>Address</dt>
        <dd>
            @Model.Address.StreetAddress<br />
            @Model.Address.City, @Model.Address.ZipCode<br />
            Latitude: @Model.Address.Geo.Latitude,
            Longitude: @Model.Address.Geo.Longitude
        </dd>
        <dt>Company</dt>
        <dd>@Model.Company.Name</dd>
    </dl>

    <h3>@Model.Posts.Count Posts</h3>
    <table>
        <thead>
            <tr>
                <th>Link</th>
                <th>ID</th>
                <th>User ID</th>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>@Html.ActionLink("View", "GetByID", "Post", null, new { id = post.ID })</td>
                    <td>@post.ID</td>
                    <td>@post.UserID</td>
                    <td>@post.Title</td>
                    <td>@post.Body</td>
                </tr>
            }
        </tbody>
    </table>

    <h3>@Model.Albums.Count Albums</h3>
    <table>
        <thead>
            <tr>
                <th>Link</th>
                <th>ID</th>
                <th>User ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model.Albums)
            {
                <tr>
                    <td>@Html.ActionLink("View", "GetByID", "Album", null, new { id = album.ID })</td>
                    <td>@album.ID</td>
                    <td>@album.UserID</td>
                    <td>@album.Title</td>
                </tr>
            }
        </tbody>
    </table>

</div>